Package: turnstile
Version: {{version}}-{{release}}
Depends: libfcgi0ldbl (>= 2.4.0), libmarkdown2-dev (>= 2.1.0)
Maintainer: Rory Bradford <rory@dysfunctionalprogramming.com>
Architecture: amd64
Section: web
Priority: optional
Description: FastCGI Markdown server
Homepage: https://dysfunctionalprogramming.com/turnstile/

